---
import Root from '@src_astro/layouts/Root.astro';

const title = "Top page"
---
<Root title={title}>
<h1>{title}</h1>

<p>This is the top page.</p>

<h2>Posts:</h2>

<p><a href='/doc/posts'>Posts</a></p>

{(import.meta.env.DEV)? 
	<div>
		<h2>For dev:</h2>
		<p>Templates:</p>
		<ul>
			<li><a href='tmpl/issue'>Issue</a></li>
		</ul>
		<p>VARs:</p>
		<ul>
			<li><a href='/var/issues'>Issues</a></li>
		</ul>
		<p>APIs:</p>
		<ul>
			<li><a href='/api/health'>Health</a></li>
		</ul>
	</div>
: "" }
</Root>
