---
import Layout from '@src_astro/layouts/Layout.astro';

const title = "Top page"
---
<Layout title={title}>
<h1>{title}</h1>

<p>This is the top page.</p>

{(import.meta.env.DEV)? 
	<div>
		<p>Templates:</p>
		<ul>
			<li><a href='tmpl/issue'>Issue</a></li>
		</ul>
		<p>VARs:</p>
		<ul>
			<li><a href='/var/issues'>Issues</a></li>
		</ul>
		<p>APIs:</p>
		<ul>
			<li><a href='/api/health'>Health</a></li>
		</ul>
	</div>
: "" }

</Layout>
