---
import Root from '#src_astro/layouts/Root.astro';
import IssueComponent from '#src_astro/components/IssueComponent'
---
<Root title="Issue Template Page">
<h1 class=hoge2>My header</h1>
<span>
  <h1>hoge</h1>
  <IssueComponent client:load />
</span>
</Root>
