.recent_content {
  font-size: 0.8em;;
}

.all_posts {
  font-weight: bold;
  padding-bottom: 1em;
}

.recent_year {
  font-weight: bold;
  // font-size: 0.8em;
}

.recent_list {
  padding-left: 0;
  margin-left: 0;
  padding-inline-start: 20px;
}

.recent_item {
  padding-left: 0;
  margin-left: 0;
  padding-inline-start: 0px;
}

.recent_title {
  font-weight: bold;
}
