.date {
  font-size: 0.9em;
}

.title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  // margin: 0;
  // padding: 0;
  // border: 0;
  // margin-block-start: 0em;
}


.tag_list {
  // all: unset;
  animation: none;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0.9em;
}

.tag_item {
  display: inline-block;
  &:not(:first-child)::before {
    content: ', ';
  }
}

.post_list {
  padding-left: 0;
  margin-left: 0;
}

.post_item_dots {
  list-style-type: none;
  // Align center
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.post_item {
  border: 1px solid var(--color-blue30);
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color-white);
  transition: background-color 0.3s;
  list-style-type: none;

  &:hover {
    background-color: var(--color-blue10);
  }

  .post_title {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: var(--color-blue70);

    &:hover {
      text-decoration: underline;
    }
  }

  time {
    display: block;
    margin-top: 5px;
    color: var(--color-gray60);
    font-size: 0.8em;
  }

  .tags {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .tags_label {
    margin-right: 5px;
  }

  .tag_list {
    padding: 0;
  }

  .tag_item {
    display: inline-block;
    &:not(:first-child)::before {
      content: ', ';
    }
  }
}

.body {
  p {
    margin-bottom: 1.5em; // Add more space between paragraphs
  }
  pre {
    background-color: black; // Set background to black
    color: white; // Set text color to white
    border-radius: 6px; // Round the corners
    padding: 2px 4px; // Add some padding
    line-height: 1.6; // Increase line spacing within code blocks
    overflow-x: auto; // Make code block scrollable horizontally
    display: block; // Ensure it behaves as a block element
    font-size: 0.8em;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
    // set tab-size to 2
    tab-size: 2;
  }
}
