.container {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 3;
  padding: 20px;
  max-width: 1000px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: var(--color-grey10);
  max-width: 300px;
}
