@import '../styles.module.scss';

.top {
  font-family: system-ui, sans-serif;
  background: var(--color-grey10);
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
}
