@use '../styles.module.scss' as *;

.root {
  font-family: system-ui, sans-serif;
  background: var(--color-grey10);
  // max-width: 1000px;
  margin: 0 auto;
  padding: 20px;

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main {
  flex: 3;
  padding: 20px;
  max-width: 700px;
}

.left_sidebar {
  flex: 1;
  padding: 20px;
  background-color: var(--color-grey10);
  max-width: 200px;
}

.right_sidebar {
  flex: 1;
  padding: 20px;
  background-color: var(--color-grey10);
  max-width: 200px;
}
