@use '../styles.module.scss' as *;

@mixin common-root($overflow) {
  font-family: system-ui, sans-serif;
  background: var(--color-grey10);
  margin: 0 auto;
  padding: 20px;
  overflow-y: $overflow;

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  a {
    text-decoration: none;
    color: var(--color-blue70);
  }
  
  a:hover {
    text-decoration: underline;
  }
}

.root {
  @include common-root(scroll);
}

.plain_root {
  @include common-root(hidden);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main {
  flex: 3;
  padding: 20px;
  max-width: 700px;
}

.left_sidebar {
  flex: 1;
  padding: 20px;
  background-color: var(--color-grey10);
  max-width: 200px;
}

.right_sidebar {
  flex: 1;
  padding: 20px;
  background-color: var(--color-grey10);
  max-width: 200px;
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
}
