---
import Page from '#src_astro/layouts/Page.astro';
import PostList from '../_PostList.astro';
import { Markdown, Order } from '#src/posts';
import { getPostStaticPaths } from '#src_astro/lib/posts';

export async function getStaticPaths() {
  return await getPostStaticPaths(['desc']);
}

const { year } = Astro.params as { year: string, order: Order};
const posts = Astro.props.posts as Markdown[];
--- 
<Page title=`Posts in ${year}, in descending order`>
  <PostList slot="main" posts={posts} />
  <div slot="sidebar">
    <p>Sidebar content goes here.</p>
  </div>
</Page>
