---
import Page from '#src_astro/layouts/Page.astro';
import PostList from './_PostList.astro';
import { obtainStore } from '#src/posts';
import { PaginateFunction } from 'astro';
import { getPostStaticPathsPaginate } from '#src_astro/lib/posts';

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const posts = await obtainStore().postsAsync({ order: 'desc' });
  return paginate(posts, { pageSize: 30 });
}

const { page } = Astro.props;
---
<Page title={`Posts (Page ${page.currentPage} of ${page.lastPage})`}>
  <PostList slot="main" posts={page.data} page={page} />
  <div slot="sidebar">
    <p>Sidebar content goes here.</p>
  </div>
</Page>
