---
import Page from '#src_astro/layouts/Page.astro';
import PostList from '#src_astro/pages/doc/posts/_PostList.astro';
import { obtainStore } from '#src/posts';

const posts = await obtainStore().postsAsync();
---
<Page title='Posts'>
  <PostList slot='main' posts={posts} />
  <div slot="sidebar">
    <p>Sidebar content goes here.</p>
  </div>
</Page>
