.frame {
  flex: 1;
  padding: 20px;
  background-color: var(--color-grey10);
  max-width: 230px;
  // height: 100vh;
  // height: 100%;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 83.5vh; // Make the iframe take the full viewport height
  // height: 100%;
  border: none; // Remove default border

  position: sticky;
  top: 4.5em;
}
